fastapi>=0.109.1
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability